<section class="form-container">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="form-wrapper panel panel-primary">
          <%= nested_form_for(build_candidate(@candidate)) do |f| %>
            <%= render 'multi_step_form/current_step', f: f %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var form_count = $('form .fields').length;

  if(form_count > 0){
    $(".fields").attr('id', 'form' + form_count);
  }

  $(document).on('nested:fieldAdded', function(event){
    var next_form_count = $('form .fields').length;
    var panel_heading   = "Employer " + (next_form_count -1);
    var previous_form   = next_form_count -1;

    $(event.field[0]).attr('id', 'form' + next_form_count);
    $('.sub-title').append('<div class="form-group form-custom-label" id="'+previous_form+'"><div class="row"><div class="col-md-3"><label>'+ panel_heading +'</label></div><div class="col-md-9"><div class="e-form-1" id="e-form-1"><i class="fa fa-caret-right toggle-arrow"></i><input type="text" name="fname" value="Norway"  class="form-control" readonly><br></div></div></div></div>');
    $('#form' + previous_form).slideUp(500);
  });

  $(document).on('click', '.form-custom-label', function(){
    var current_obeject_value = parseInt($(this).attr('id'));
    var next_form = $('form .fields').length;
    $('#form' + next_form).hide();
    $('#form' +  $(this).attr('id')).slideDown(500);
  });

  $('.step_0').click(function() {
    var candidate_name = $('#candidate_name').val();
    var candidate_social_security = $('#candidate_social_security').val();
    var candidate_dob = $('#candidate_dob').val();
    var candidate_email = $('#candidate_email').val();
    var valid = validateEmail(candidate_email);
    var candidate_address = $('#candidate_address').val();
    var candidate_state =  $('#candidate_state').val();
    var candidate_city = $('#candidate_city').val();
    var candidate_zip_code = $('#candidate_zip_code').val();

    if (candidate_name == ""){
      $("#candidate_name_error").html("*Please enter name").show().fadeOut(5000);
      return false;
    }

    else if (candidate_social_security == ""){
      $("#candidate_social_security_error").html("*Please enter social security").show().fadeOut(5000);
      return false;
    }

    else if (candidate_dob == ""){
      $("#candidate_dob_error").html("*Please select date of birth").show().fadeOut(5000);
      return false;
    }

    else if (!valid) {
      if(candidate_email == ""){
        $(".candidate_email_error").html("*Please enter email").show().fadeOut(5000);
        return false;
      }
      else{
        $(".candidate_email_error").html("*Please enter a valid email").show().fadeOut(5000);
        return false;
      }
    }

    else if (candidate_address == ""){
      $("#candidate_address_error").html("*Please enter street address").show().fadeOut(5000);
      return false;
    }

    else if (candidate_state == ""){
      $("#candidate_state_error").html("*Please select state").show().fadeOut(5000);
      return false;
    }

    else if (candidate_city == ""){
      $("#candidate_city_error").html("*Please select state").show().fadeOut(5000);
      return false;
    }
    else if (candidate_zip_code == ""){
      $("#candidate_zip_code_error").html("*Please select state").show().fadeOut(5000);
      return false;
    }
  });

  $('.step_1').click(function() {
    var value = $('.district_email').val();
    var district_name = $('.district_name').val();
    var district_nces = $('.district_nces').val();
    var district_contact = $('.district_contact').val();
    var district_phone_number = $(".district-phone-number").val();
    var valid = validateEmail(value);
    var district_street_address = $(".district_street_address").val();
    var district_state = $(".district_state").val();
    var district_city = $(".district_city").val();
    var district_zip_code = $(".district_zip_code").val();

    if( district_name == "" ){
      $(".district_name_error").html("*Please enter district name").show().fadeOut(5000);
      return false;
    }

    else if( district_nces == "" ){
      $(".district_nces_error").html("*Please enter NCES").show().fadeOut(5000);
      return false;
    }

    else if( district_contact == "" ){
      $(".district_contact_error").html("*Please enter district contact").show().fadeOut(5000);
      return false;
    }

    else if (value == "" && !valid ){
      $(".district_email_error").html("*Please enter email").show().fadeOut(5000);
      return false;
    }
    else if (value != "" && !valid) {
      $(".district_email_error").html("*Please enter a valid email").show().fadeOut(5000);
      return false;
    }

    else if(district_phone_number == "") {
      $(".errmsg").html("*Please enter phone number").show().fadeOut(5000);
      return false;
    }

    else if(district_street_address == "") {
      $(".district_street_address_error").html("*Please enter street address").show().fadeOut(5000);
      return false;
    }

    else if(district_state == "") {
      $(".district_state_error").html("*Please select state").show().fadeOut(5000);
      return false;
    }

    else if(district_city == "") {
      $(".district_city_error").html("*Please enter city").show().fadeOut(5000);
      return false;
    }

    else if(district_zip_code == "") {
      $(".district_zip_code_error").html("*Please enter zip code").show().fadeOut(5000);
      return false;
    }
  });

  var validateEmail = function(elementValue) {
    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    return emailPattern.test(elementValue);
  }

  $(".district-phone-number").keypress(function (e) {
    //if not numeric, then it don't let you type
    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
      //display error message
      $(".errmsg").html("*Digits Only").show().fadeOut(5000);
      return false;
    }
  });
</script>
<style type="text/css">
  body{
    font-family: 'Raleway', sans-serif;
  }
  .form-container {
    padding: 50px 0px;
    background-color: #033076;
  }
  .form-wrapper{
    border: 1px solid #428bca;
    padding: 0 0 20px;
    background-color: #fff;
  }
  .form-wrapper .form-group{
    position: relative;
    margin: 0 20px 1rem;
  }
  .form-wrapper .form-group .form-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 20px;
    color: #033076;
  }
  .form-wrapper .form-group input, .form-wrapper .form-group textarea, .form-wrapper .form-group select{
    padding-left: 35px;
    min-height: 45px;
  }
  .form-wrapper .form-group input:focus{
    box-shadow: none;
    outline-color: #ced4da;
    border-color: #ced4da;
  }
  .form-wrapper .form-group.password-field .form-icon{
    top: 30px;
  }

  .form-wrapper .form-group.salary-inputs input {
    min-height: auto;
  }

  .form-wrapper .form-group.salary-inputs span{
    margin-right: 30px;
  }

  .terms-conditions{
    text-align: left;
    text-decoration: underline;
    display: block;
    color: #033076;
  }
  .terms-conditions:hover{
    text-decoration: none;
  }
  .submit-btn {
    min-width: 250px;
    margin: 0 auto;
    display: block;
    font-size: 24px;
    text-transform: uppercase;
  }
  .panel-primary .panel-heading {
    color: #033076;
    background-color: #fff;
    border-color: #fff;
    padding: 12px 0;
    font-size: 28px;
    text-align: center;
    line-height: normal;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
  }
  .sub-title{
    margin-top: 15px;
  }
  .check-box{
    float: left;
    overflow: hidden;
    width: 30px;
  }
  .extra-wrap{
    overflow: hidden;
    vertical-align: top;
    text-align: left;
  }

  .check-box input[type="checkbox"]{
    min-height: auto;
  }
  .control-label {
      float: left;
      width: 160px;
      padding-top: 5px;
      text-align: right;
  }
  .form-horizontal .controls {
      margin-left: 180px;
  }
  .contidate-name{
    padding-left: 10px !important;
  }
  .add-user{
    font-size: 40px;
    float: right;
    margin-right: 20px;
  }
  .header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
 
  .e-form-1{
    position: relative;
  }
  .toggle-arrow{
    position: absolute;
    right: 5px;
    font-size: 45px;
    width: 100%;
    text-align: right;
  }
  .district_name_error, .district_nces_error, .district_contact_error,  .district_email_error, .errmsg, .district_street_address_error, .district_state_error, .district_city_error, .district_zip_code_error{
    color: red;
    float: right;
  }
  #candidate_name_error, #candidate_social_security_error, #candidate_dob_error, .candidate_email_error, #candidate_address_error, #candidate_state_error, #candidate_city_error, #candidate_zip_code_error{
    color: red;
    float: right;
  }
</style>